@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.ag-theme-alpine-dark .ag-root-wrapper {
	border: 0px solid rgba(255, 255, 255, 0.1); /* Replace with your desired border color */
}

.ag-theme-alpine-dark .ag-header {
	border-bottom: 0px solid rgba(255, 255, 255, 0.1); /* Header border color */
}

.ag-theme-alpine-dark .ag-body {
	border: 0px solid rgba(255, 255, 255, 0.1); /* Main body border color */
}
